.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 60%;

}

.swiper-pagination-bullet {
    opacity: 1;
    background-color: white;
}

.swiper-pagination-bullet-active {
    background-color: #f77272 !important;
}

@media only screen and (max-width: 640px) {
    .swiper-slide {
        width: 90%;
    }
}

@media only screen and (min-width: 1400px) {
    .swiper-slide {
        width: 35%;
    }
}