@font-face {
    font-family: Yeasty;
    src: url('./fonts/Yeasty Flavors.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply font-poppins;
    @apply bg-background
}





.accent {
    color: "#ff4e4e";
    background-color: #ff4e4e;
}

.custom-font {
    @apply font-yeasty;
}

h3 {
    font-size: large;
    font-weight: bold;
}